@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #C5B67B, #EFE6CD, #9EA58D); /* Degradê fundo */
}

main {
    background-color: white;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 5px 5px 15px #3f220f; /* Efeito sombreado */
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7D8758;
    text-align: center;
    text-shadow: 1px 1px 2px #c5b67bb7; /* 2 últimos dígitos são de textura */
}

h2 {
    color: #9EA58D;
    text-shadow: 1px 1px 2px #C5B67B;
}

p {
    text-align: justify;
}